<section class="about-index">
  <header class="page-header">
    <div class="intro">
    <h2> About Us </h2>
    </div>
  </header>

  <h4> Welcome to the Jungle </h4>
  <p> Your one-stop destination for all things green and beautiful. We are passionate about plants and dedicated to bringing nature's wonders into your life. </p>
    
  </br>
  
  <h4> Our Story </h4>
 
  <p> At Junglge, our journey began with a simple love for plants. What started as a small hobby soon blossomed into a thriving business.  A vision of creating a place where plant enthusiasts of all levels could come together to find their perfect green companions. Today, that vision has come to life, and we're excited to share it with you. </p>
 </br>  
  <h4> Our Mission </h4>
  <p> Our mission is to promote wellness and happiness through the power of plants. We believe that plants have the remarkable ability to transform any space into a tranquil oasis, improve air quality, and reduce stress. We want to make it easy for everyone to experience these benefits by offering a wide variety of plants and expert guidance.</p>

</section>